
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.col{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pre{
  display: flex;
  justify-content: left;
  float: left;
}

.nxt {
  display: flex;
  justify-content: right;
  float: right;
}

.todaydate{
  display: flex;
  justify-content: center;
}