<!DOCTYPE html>
<html>

<div class="todaydate">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
</div>

<div [ngSwitch]="view">

    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>

<!-- Code for Next Today previous button -->
    <table>
      <tr>
      <td><div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        <button mat-flat-button color="primary">Previous</button>
      </div></td>

      <td>
        <button mat-flat-button color="primary"><a href= "../add-events">Add new Event</a></button>
      </td>

      <td><div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        <button mat-flat-button color="primary">Next</button>
      </div></td>
    </tr>
    
   
    <!--<tr>
      <td><div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        <button mat-button>Month</button>
      </div></td>
      <td><div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        <button mat-button>Week</button>
      </div></td>
      <td><div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        <button mat-button>Day</button>
      </div></td>
    </tr>-->
  
    </table>
</div>



</html>