<!DOCTYPE html>
<html>
<div class="defaultContainer">
    <div class="container">
        <!-- Add Contact Page Header -->
        <h2>Add a Contact</h2>

        <!-- QR Scanner Page Button -->
        <button mat-stroked-button class="qrbutton" type="button" 
            onclick="window.location.href = '../qrscanner/'">QR Scanner</button>
    </div>

    <!-- Add Contact Form -->
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
        <div class="form-container">
            Contact Details: <br>

            <!-- First Name Field -->
            <mat-form-field>
                <input matInput id="firstname" placeholder="First name.." [(ngModel)]="contact.firstname"
                    name="firstname" required>
                <mat-icon matSuffix></mat-icon>
            </mat-form-field><br>

            <!-- Last Name Field -->
            <mat-form-field>
                <input matInput id="lastname" placeholder="Last name.." [(ngModel)]="contact.lastname" name="lastname"
                    required>
                <mat-icon matSuffix></mat-icon>
            </mat-form-field><br>

            <!-- Phone Number Field -->
            <mat-form-field>
                <input matInput id="phone" placeholder="Phone number.." [(ngModel)]="contact.phone" name="phone">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field><br>

            <!-- Email Field -->
            <mat-form-field>
                <input matInput id="email" placeholder="Email (Recommended).." [formControl]="email" [(ngModel)]="contact.email"
                    name="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field><br>

            <!-- Age Field -->
            <mat-form-field>
                <mat-label>Age.. </mat-label>
                <mat-select [(ngModel)]="contact.age" name="age">
                    <mat-option *ngFor="let age of ages" [value]="age.value">
                        {{age.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field><br>
            <br>

            <!-- Gender Radio Button -->
            <mat-radio-group aria-label="Select a Gender" [(ngModel)]="contact.gender" name="gender">
                Gender*:<br>
                <mat-radio-button value="m">Male</mat-radio-button><br>
                <mat-radio-button value="f">Female</mat-radio-button><br>
            </mat-radio-group><br><br>

            <!-- Comments Field -->
            Comments: <br>
            <mat-form-field>
                <textarea matInput id="comment" placeholder="Add your comments.." rows="5" cols="10"
                    [(ngModel)]="contact.comment" name="comment"></textarea>
            </mat-form-field>
            <br><br><br>
            
            <!-- Form Submit Button -->
            <button mat-stroked-button class="submitbutton" type="submit"
                [disabled]="!contactForm.form.valid">Submit</button><br><br>
            <br><br>
        </div>
    </form>
</div>

</html>