<!DOCTYPE html>
<html>
<div class="defaultContainer">
  <h2>About Us</h2><br>
  <p>Bounce is breaking the cycle of sexually transmitted diseases
    through the use of technology. <br>
    Each year, there are an estimated 357 million new infections with
    1 of 4 being STIs: chlamydia, gonorrhoea, syphilis, and trichomoniasis.<br>
    Bounce strives to be the basis of a brighter future, built on the shoulders of 
    technology.<br>
    Bounce works to cut the chains created by STIs in Queensland and hopefully soon, 
    all of Earth.
  </p>
  <h3>Sexual Health Clinics</h3>
  <p>It can be daunting to walk into a sexual health clinic. But a hospital doesn't 
    exist to house the healthy, but to cure the sick!<br><br>
    Sexual health clinics can be found in the links below,
  </p>
  <ul>
    <li><a href="../cliniclocation/"><b>RAPID (Brisbane)</b></a></li>
    <li>2 Winn Street<br>Fortitude Valley QLD 4006</li>
    <li>HIV and Syphilis Testing</li>
    <li>Open: Tues to Fri 3.00pm - 8.00pm, Sat 12.00pm - 5.00pm</li>
    <li>Phone: (07) 3013 5566</li>
    <li>Email: info@rapid.org.au</li>
  </ul>

  <ul>
    <li><a href="../cliniclocation/"><b>RAPID (Gold Coast)</b></a></li>
    <li>Shop 12, 89-99 West Burleigh Road<br>Burleigh Heads QLD 4220</li>
    <li>HIV and Syphilis Testing</li>
    <li>Open: Thurs 3.00pm - 6.00pm</li>
    <li>Phone: (07) 3013 5566</li>
    <li>Email: info@rapid.org.au</li>
  </ul>

  <ul>
    <li><a href="../cliniclocation/"><b>RAPID (@ Wet)</b></a></li>
    <li>22 Jeays Street<br>Bowen Hills QLD 4006</li>
    <li>HIV and Syphilis Testing</li>
    <li>Open: Tues 2.00pm - 7.00pm</li>
    <li>Phone: (07) 3013 5566</li>
    <li>Email: info@rapid.org.au</li>
  </ul>

  <ul>
    <li><a href="../cliniclocation/"><b>RAPID (@ Bodyline)</b></a></li>
    <li>45 Peel Street<br>South Brisbane QLD 4101</li>
    <li>HIV and Syphilis Testing</li>
    <li>Open: Wed 2.00pm - 7.00pm</li>
    <li>Phone: (07) 3013 5566</li>
    <li>Email: info@rapid.org.au</li>
  </ul>

  <ul>
    <li><a href="../cliniclocation/"><b>Clinic 30 (Queensland AIDS Council)</b></a></li>
    <li>30 Helen Street<br>Teneriffe QLD 4005</li>
    <li>HIV and STI Testing</li>
    <li>Open: <br>GP Clinic: Mon 10.00am - 4.00pm, Thurs 11.00am - 7.00pm, Fri 11.00am - 3.00pm<br>
      Psychology Service: Mon to Wed</li>
    <li>Medicare Card Required</li>
    <li>Phone: (07) 3017 1777</li>
  </ul>

  <ul>
    <li><a href="../cliniclocation/"><b>Clinic 30 Outreach Clinic @ Number 29</b></a></li>
    <li>29 McLachlan Street<br>Fortitude Valley QLD 4006</li>
    <li>HIV and STI Testing</li>
    <li>Open: Thurs 7.00pm - 10.00pm</li>
    <li>Medicare Card Required</li>
  </ul>
  <br><br>
</div>
</html>