<!DOCTYPE html>
<html>
<div class="defaultContainer">
  <h2>Diagnosis History</h2><br>
</div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Diagnosis Date Column -->
    <ng-container matColumnDef="startdate">
      <th mat-header-cell *matHeaderCellDef> Diagnosis Date </th>
      <td mat-cell *matCellDef="let item"> {{item.startdate}} </td>
    </ng-container>

    <!-- Diagnosis Column -->
    <ng-container matColumnDef="diagnosis">
      <th mat-header-cell *matHeaderCellDef> Diagnosis </th>
      <td mat-cell *matCellDef="let item"> {{item.diagnosis}} </td>
    </ng-container>

    <!-- End Date Column -->
    <ng-container matColumnDef="enddate">
      <th mat-header-cell *matHeaderCellDef> End Date </th>
      <td mat-cell *matCellDef="let item"> {{item.enddate}} </td>
    </ng-container>

    <!-- Abstinence End Date Column -->
    <ng-container matColumnDef="abstinencedate">
      <th mat-header-cell *matHeaderCellDef> Abstinence End Date </th>
      <td mat-cell *matCellDef="let item"> {{item.abstinencedate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br><br>
  <div class="buttons">
    <button mat-stroked-button>Add</button>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-stroked-button>Delete</button>
  </div>
  <br><br>
  </html>
