<!DOCTYPE html>
<html>
<div class="defaultContainer">
  <h2>Sexual Activity</h2>
  <h3 id="date"><u>Saturday, 16th March 2019</u></h3>
  <ul>
    <li>
      <img src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" alt="User Image" height="18"
        width="18">&nbsp;&nbsp;
      John Smith
    </li>
  </ul>

  <h3 id="date"><u>Friday, 1st March 2019</u></h3>
  <ul>
    <li>
      <img src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" alt="User Image" height="18"
        width="18">&nbsp;&nbsp;
      John Smith
    </li>
    <li>
      <img src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" alt="User Image" height="18"
        width="18">&nbsp;&nbsp;
      Sally West
    </li>

    <li>
      <img src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" alt="User Image" height="18"
        width="18">&nbsp;&nbsp;
      Placeholder Contacts
    </li>
  </ul>
  <br>
  <button mat-stroked-button onclick="window.location.href = '../addactivity/'">Add</button>
</div>

</html>