<!DOCTYPE html>
<html>

<body>
    <div class="defaultContainer">
        <h2>Sexual Activity</h2><br>

        <mat-expansion-panel *ngFor="let encounter of activitylist">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <!-- <b>{{ encounter[0].encounterID }}</b>-->
                </mat-panel-title>
                <mat-panel-description>
                    {{ convertDate(encounter[0].dateEncounter) }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <!--<h3>{{ encounter[0].encounterID }}&nbsp;&nbsp;&nbsp;&nbsp;{{ encounter[0].userID }}</h3>-->
            <h4>Participants: </h4>
            <div>
                <!--*ngFor="let partner of partnerlist" //filter through encounter? -->
                <ul>
                    <li>{{ encounter[0].name }}</li>

                </ul>
            </div>

            <h4>Activities Performed: </h4>
            <div>
                <!--*ngFor="let activity of activitylist" //filter through encounter? -->
                <ul>
                    <li>{{ encounter[0].actName }}</li>
                </ul>
            </div>

            <h4>Contraceptives Used: </h4>
            <div>
                <!--*ngFor="let contraceptive of contraceptivelist" //filter through encounter? -->
                <ul>
                    <li>{{ encounter[0].protection }}</li>

                </ul>
            </div>

            <h4>Comments: </h4>{{ encounter[0].notes }}<br><br>

        </mat-expansion-panel>

        <!--
    <div class="activity_list">
      <ul class="activity">
          <li *ngFor="let encounter of activitylist">
              <img src="../../assets/book.png" alt="Record Icon" height="18"
              width="18">&nbsp;&nbsp;
            <a href="../sexualhistory/"><b>{{ encounter[0].encounterID }}</b>&nbsp;&nbsp;&nbsp;&nbsp;{{ convertDate(encounter[0].dateEncounter) }} </a>
        </li>
      </ul>
      <br>
    </div>
    -->
        <!--
    <h3 id="date"><u>Saturday, 16th March 2019</u></h3>
    <ul>
      <li>
        <img src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" alt="User Image" height="18"
          width="18">&nbsp;&nbsp;
        John Smith
      </li>
    </ul>

    <h3 id="date"><u>Friday, 1st March 2019</u></h3>
    <ul>
      <li>
        <img src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" alt="User Image" height="18"
          width="18">&nbsp;&nbsp;
        John Smith
      </li>
      <li>
        <img src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" alt="User Image" height="18"
          width="18">&nbsp;&nbsp;
        Sally West
      </li>

      <li>
        <img src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" alt="User Image" height="18"
          width="18">&nbsp;&nbsp;
        Placeholder Contacts
      </li>
    </ul>-->
        <!--

        <br>

        <div class = "btncontainer">
        <button mat-stroked-button onclick="window.location.href = '../addactivity/'">Add</button>
      </div>
      </div>
    -->
    </div>

</body>
</html>