
  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="alertPartnersForm1" [editable]="isEditable" [completed]="false">
        <form [formGroup]="alertPartnersForm1">
            <ng-template matStepLabel>Choose Diagnosis</ng-template>
            <h4>Diagnosis</h4>
            <mat-form-field>
                <!--wrong way of implementing selection-->
                <mat-select class="diagnosis" formControlName="diagnosis" [(ngModel)]="alert.diagnosis" (selectionChange)="getTrace()">
                    <mat-option *ngFor="let disease of diseases"
                                value={{disease.name}}>
                        {{ disease.name }} <!--> | {{disease.trace}} <-->
                    </mat-option> <!--> [class.selected]="disease === selectedDisease"<-->
                </mat-select>
            </mat-form-field>
            <br>
            Tracing period: <br>
            {{v}}
            <br>
            <h4>Date of diagnosis</h4><br>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" (dateChange)="formatDate(); getTrace()" formControlName="date" placeholder="Choose a date" [(ngModel)]="alert.date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <h4>Send STI alert to sexual contacts?</h4>
            <mat-button-toggle-group>
                <mat-button-toggle (click)="isSendMessage = true; sendMessage()">Yes</mat-button-toggle>
                <mat-button-toggle (click)="isSendMessage = false; sendMessage()">No</mat-button-toggle>
            </mat-button-toggle-group>

            <div>
                <br>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="alertPartnersForm2" *ngIf="isSendMessage" [editable]="isEditable" [completed]="false">
        <form [formGroup]="alertPartnersForm2">
            <ng-template matStepLabel>Choose your contacts</ng-template>
            <div *ngIf="persons; else noContacts">
                <div id="no_recent_contacts" style='visibility: hidden'> None of your contacts are within the tracing period. </div>
                <div id="recent_contacts" style='visibility: hidden'>These contacts are within the tracing period: </div>
                <div class="contact_list">
                    <ul class="contacts">
                        <li *ngFor="let person of persons">

                            <!--<img src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" alt="User Image" height="18"
                         width="18">-->
                            &nbsp;&nbsp;
                            <mat-checkbox [value]="add_persons" formControlName="contacts" [(ngModel)]="person.selected"
                                          (change)="OnCheckboxSelect(person, $event.checked)" name="persons">
                                {{ person.firstname }}
                                {{ person.lastname}} ({{ person.dateEncounter }})
                            </mat-checkbox>
                        </li>
                    </ul>
                </div>
            </div>
            <ng-template #noContacts><p style="color: lightgray; font-size: 140%;">You have no contacts...</p></ng-template>
                <br><br>
                <mat-radio-group formControlName="anonymity" [(ngModel)]="alert.anonymity">
                    <mat-radio-button value="anonymous" ng-value="true">Send message anonymously</mat-radio-button> <br>
                    <mat-radio-button value="identified">Include your name in message</mat-radio-button>
                </mat-radio-group>

                <br><br>Message:<br> One of your sexual contacts may have been exposed to {{sti}}, please get tested immediately.
                <div>
                    <!-->
            <button mat-button matStepperPrevious>Back</button><-->
                    <button mat-button type="submit" (click)="resetForm();stepper.reset();">Reset</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="alertPartnersForm2" [editable]="isEditable" [completed]="false">
      <ng-template matStepLabel>Completed</ng-template>
      Form is completed
      <div>
        <!--><button mat-button matStepperPrevious>Back</button><-->
        <button mat-button (click)="resetForm();stepper.reset()">Reset</button>
        <button mat-button matStepperNext (click) = "onSubmit()">Submit</button>
      </div>
    </mat-step>
    <mat-step [completed]="false">
        <ng-template matStepLabel>Submitted</ng-template>
        Form is submitted
        <div *ngIf="isSendMessage"> Message is sent to selected contacts </div> 
        <div *ngIf="!isSendMessage"> No message will be sent to your contacts </div> 
        <div>       
        <button mat-button (click)=" resetForm();stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  

