<!DOCTYPE html>
<html>
  <div class="defaultContainer">
    <div class ="title">
    <h1>
      BOUNCE
    </h1>
  </div>
<form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onRegisterSubmit()" novalidate>
  
  <div class="login">
      
    <mat-form-field>
      <input matInput id="name"
             formControlName="name"
             [(ngModel)]="user.name"
             placeholder="Username" /></mat-form-field><br><br>
             
             <mat-form-field><input matInput id="password"

             formControlName="password"
             [(ngModel)]="user.password"
             placeholder="Password"
             [type]="hide ? 'password':'text'" /></mat-form-field><br><br>

<div class ="btncontainer">
    <button mat-flat-button color="primary" type="submit"
            [disabled]="!loginForm.valid">Login</button>
    <button mat-flat-button color="primary" routerLink="/register">Register</button>
  </div>
  </div>
</form>
</div>
</html>