<!DOCTYPE html>
<html>

<div class="defaultContainer">

    <h1>Rewards</h1><br>


  <mat-accordion>

    <!-- Abstinance reward -->
    <mat-expansion-panel>
      <!-- Contents when the extention panel is closed -->
      <mat-expansion-panel-header>
        <mat-panel-title>
            Abstinance
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <!-- Contents when the extension panel is open -->
      <p><img src="../../assets/rewards/30_Days.png" alt="User Image" height=100% width=100%>
      <br> Self-control is a good practice! 
      <br><br>To get this badge, keep track of the days that you have complete your duty in abstinance
      </p>

    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

    <!-- Add contacts reward -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        Added contacts
      </mat-panel-title>
    </mat-expansion-panel-header>
      <p><img src="../../assets/rewards/Badge PNG.png" alt="User Image2" height=100% width=100%>
      <br> Add 3 or more new contacts in your app to earn this badge
      </p>
    </mat-expansion-panel>

    <!-- Doc appt reward -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              Added Doctor's Appointment
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p><img src="../../assets/rewards/doctor.png" alt="User Image2" height=100% width=100%>
          <br> Create 3 or more doctor's appointment in your app to earn this badge
        </p>
      </mat-expansion-panel>

    <!-- Alert partner reward -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              Alerted partner
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p><img src="../../assets/rewards/alert_partner.png" alt="User Image2" height=100% width=100%>
        <br> "Eventually we all have to accept full and total responsibility for our actions, everything we have done, and not have done". Quote Hubert Selby Jr.
        <br><br>
        To achieve this badge, please send an alert to a partner after a doctor's apointment
      </p>

      </mat-expansion-panel>

    <!-- complete profile reward -->
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Completed profile
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p><img src="../../assets/rewards/Badge.png" alt="User Image2" height=100% width=100%>
          <br> Complete your profile!
          </p>
        </mat-expansion-panel>

      <!-- Golden star reward -->
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Golden Star Award
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p><img src="../../assets/rewards/PNGIX.com_gold-stars-png_302739.png" alt="User Image2" height=100% width=100%>
          <br> Congratulations for using our app! 
          </p>
        </mat-expansion-panel>

        <!-- Reading reward -->
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Reading Expert
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p><img src="../../assets/rewards/math-in-reading-150x150.png" alt="User Image2" height=100% width=100%>
          <br>"Knowledge is power. Information is liberating. Education is the premise of progress, in every society, in every family."
          <br> <br> Read up on all types of STI diseases provided in the app
        </p>
        </mat-expansion-panel>

        <!-- Weekly reward -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Survived Weekly Abstinance
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <img src="../../assets/rewards/7 Days.png" alt="User Image2" height=100% width=100%>
            </p>
          </mat-expansion-panel>

          <!-- Monthly reward -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Survived Monthly Abstinance
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <img src="../../assets/rewards/Level 1.png" alt="User Image2" height=100% width=100%>
              <img src="../../assets/rewards/Level 2.png" alt="User Image2" height=100% width=100%>
              <img src="../../assets/rewards/Level 3.png" alt="User Image2" height=100% width=100%>
              <img src="../../assets/rewards/Level 4.png" alt="User Image2" height=100% width=100%>
              <img src="../../assets/rewards/Level 5.png" alt="User Image2" height=100% width=100%>
              <img src="../../assets/rewards/Level 6.png" alt="User Image2" height=100% width=100%>
            </p>
          </mat-expansion-panel>

  </mat-accordion>

</div>

</html>