<!DOCTYPE html>
<html>

<div class="title">
  <h2>New event</h2>
</div>

<form [formGroup] = "calForm">

  <div class="title-container">
    <mat-form-field>
      <input matInput id="title" placeholder="Enter title" formControlName="title">
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>

  <div class="date-container">
    <h3>Date:</h3>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-hint align ="end">mm/dd/yyyy</mat-hint>
    <mat-divider></mat-divider>

    <div class="clock">
      <h3>Choose a time:</h3>
      <mat-hint align ="end">24 Hour Format</mat-hint>
      <br>
    <mat-form-field >
      <input type="number" matInput id="timestart" name="start" formControlName="timestart" min="-1" max="23" placeholder="Hour:">
      </mat-form-field> 
      <mat-hint align ="end">Eg:14</mat-hint>
      <br>
      
      <mat-form-field >
          <input type="number" matInput id="timeend" name="end" formControlName="timeend" min="-1" max="59" placeholder="Minute:">

      </mat-form-field>
      <mat-hint align ="end">Eg:30</mat-hint>
    </div>
  </div>

  <br>

  <mat-divider></mat-divider>

  <div class="alert-container">
    <h3>Select Alert:</h3>
    <mat-form-field>
      <mat-select placeholder="Alert" id="alert"  formControlName="alert">
        <mat-option value="None">None</mat-option>
        <mat-option value="On time">On time</mat-option>
        <mat-option value="5">5 mins before</mat-option>
        <mat-option value="15">15 mins before</mat-option>
        <mat-option value="30">30 mins before</mat-option>
        <mat-option value="1hr">1 hour before</mat-option>
        <mat-option value="1d">1 day before</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>

  <div class="repeat-container">
    <h3>Select Repeat:</h3>
    <mat-form-field>
      <mat-select placeholder="Repeat" id="repeat" formControlName="repeat">
        <mat-option value="never">Never</mat-option>
        <mat-option value="daily">Daily</mat-option>
        <mat-option value="weekly">Weekly</mat-option>
        <mat-option value="monthly">Monthly</mat-option>
        <mat-option value="yearly">Yearly</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>

  <div class="events-container">
    <mat-form-field class="note">
      <textarea matInput id="note" placeholder="Note"  formControlName="note"></textarea>
    </mat-form-field>


  </div>

  <div class="buttons">
    <button mat-flat-button color="primary" (click) = "onSubmit()" >Save</button>
  </div>

</form>

</html>