.profileimg{
    border-radius: 100px;
    width: 110px;
    height: 110px;
    margin-left: 30%;
    border: 4px solid gainsboro;
}
.set_flex_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.set_flex_column{
    display: flex;
    flex-direction: column;

}

table{
    width: 100%;
}