<!DOCTYPE html>
<html>

<div class="defaultContainer">
    <h1>Profile</h1><br>

    <br>
    <div>


        <table>
            <tr>
                <td>
                    <h4>First name:</h4>
                </td>
                <td>
                    <h4>Last name:</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <p>&nbsp;{{profile?.firstname}} </p>
                </td>
                <td>
                    <p>&nbsp;{{profile?.lastname}} </p>
                </td>
            </tr>
        </table>
    </div>


    <h4>Phone:</h4>&nbsp;{{profile?.phone}}
    <h4>Email:</h4>&nbsp;{{profile?.email}}
    <h4>Sex:</h4>
    <ng-container *ngIf="profile?.gender == 'm';else elseIfBlock">&nbsp;Male</ng-container>
    <ng-template #elseIfBlock>
        <ng-container *ngIf="profile?.gender == 'f';else elseBlock">&nbsp;Female</ng-container>
    </ng-template>
    <ng-template #elseBlock>&nbsp;Other</ng-template><br>

    <!--<p>{{profile?.gender}} </p>-->


    <h4>QR Code:</h4>
    <qrcode [qrdata]="profileQR" [size]="200" [level]="'M'" class="qrcode"></qrcode><br><br>
</div>

<div class="btncontainer">

    <button mat-stroked-button onclick="window.location.href = '../editprofile'">Edit Profile</button>
</div><br><br>

</html>