
<!DOCTYPE html>
<html>

<div class="defaultContainer">
    <h1>Profile</h1><br>

    <!--<img class="profileimg" src="https://images.askmen.com/1080x540/2016/01/25-021526-facebook_profile_picture_affects_chances_of_getting_hired.jpg">-->
    <br>
    <div>
        <!--
        <h4>Bio:</h4> <p>{{profile?.bio}} </p><br>
        -->

        <table>
            <tr>
                <td><h4>First name:</h4></td>
                <td><h4>Last name:</h4></td>
            </tr>
            <tr>
                <td><p>&nbsp;{{profile?.firstname}} </p></td>
                <td><p>&nbsp;{{profile?.lastname}} </p></td>
            </tr>
        </table>
    </div>


    <h4>Phone:</h4>&nbsp;{{profile?.phone}}
    <h4>Email:</h4>&nbsp;{{profile?.email}}
    <h4>Sex:</h4>
    <ng-container *ngIf="profile?.gender == 'm';else elseIfBlock">&nbsp;Male</ng-container>
    <ng-template #elseIfBlock>
        <ng-container *ngIf="profile?.gender == 'f';else elseBlock">&nbsp;Female</ng-container>
    </ng-template>
    <ng-template #elseBlock>&nbsp;Other</ng-template><br>

    <!--<p>{{profile?.gender}} </p>-->


    <h4>QR Code:</h4>
    <qrcode [qrdata]="profileQR" [size]="200" [level]="'M'" class="qrcode"></qrcode><br><br>
    </div>

<div class="btncontainer">
    <!--<button mat-button><a href= "../editprofile">Edit Profile</a></button>-->
    <button mat-stroked-button onclick="window.location.href = '../editprofile'">Edit Profile</button>
</div><br><br>

</html>











