<html>

<body>
  <!-->If Alert Partner is used. Uses longest remaining abstinence<-->
  <div class="abstinence">
    
    <h3><img src="../../assets/danger.png" alt="User Image"
      height="18" width="18"> Abstinence: 8 days left</h3>
  </div>


  <div class="defaultContainer">
    <h2>Upcoming</h2>

    <div class="pill">
      <div class="ui card pill">
        <div class="content set_flex_column">
          <div class="header set_center">Reminder</div>
          <div class="set_flex_row">
            <div>
              <h4>Take Medication</h4>
            </div>
            <div>
              <p>
                10am<br>
                Paracetemol<br>
              </p>
            </div>
          </div>


        </div>
        <button class="ui button">Done</button>
      </div>
    </div>

    <h2>Next Appointment</h2>

    <div class="appointment">
      <div class="ui card appointment">
        <div class="content set_flex_column">
          <div class="header">Appointment</div>
          <div class="set_flex_row">
            <div><h4>Next Appointmennt</h4></div>
          <div>
            <p><br>
              <a routerlink="/calender">26 December 2019</a><br>
              10am<br>
              Roma Street Hospital<br>
            </p>
          </div>
        </div>
        </div>
        <button class="ui button">Done</button>
      </div>
    </div>


    <div class="fact">
      <div class="ui card fact">
        <div class="content">
          <h4>
            Did you know?
          </h4>
          <p>
            {{v}}
          </p>
        </div>
      </div>
    </div>

  </div>
<script type="text/javascript" src="runtime.js"></script><script type="text/javascript" src="es2015-polyfills.js" nomodule></script><script type="text/javascript" src="polyfills.js"></script><script type="text/javascript" src="styles.js"></script><script type="text/javascript" src="vendor.js"></script><script type="text/javascript" src="main.js"></script></body>

<base href="/">

</html>