
.set_flex_column{
    display: flex;
    flex-direction: column;

}

.set_flex_column .set_center{
    text-align: center;
}

.set_flex_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headhm {
    display:flex;
    justify-content: center;
}