<div class="defaultContainer">
  <!-- Welcoming Message -->
  <div class="welcome">
    <h2>Welcome {{ userId }}!</h2>
  </div><br>

  <!-- Quick Access Links -->
  <div class="quickaccess">
    <mat-grid-list cols="2" rowHeight="3:2">
      <h3>Quick Access</h3>
      <mat-grid-tile>
        <div>
          <a href="/addactivity/">
            <mat-icon aria-hidden="false" aria-label="addactivity">book</mat-icon><br>
            <p class="labels"><br>Add Activity</p>
          </a>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div>
          <a href="/alertpartners/">
            <mat-icon aria-hidden="false" aria-label="alertpartners">add_alert</mat-icon>
            <p class="labels"><br>Alert Partners</p>
          </a>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div>
          <a href="/calender/">
            <mat-icon aria-hidden="false" aria-label="calendar">calendar_today</mat-icon>
            <p class="labels"><br>Calendar</p>
          </a>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div>
          <a href="/contactform/">
            <mat-icon aria-hidden="false" aria-label="addcontact">person_add</mat-icon>
            <p class="labels"><br>Add Contact</p>
          </a>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div>
          <a href="/profile/">
            <mat-icon aria-hidden="false" aria-label="profile">person</mat-icon>
            <p class="labels"><br>Profile</p>
          </a>

        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div>
          <a href="/qrscanner/">
            <mat-icon aria-hidden="false" aria-label="qrscanner">search</mat-icon>
            <p class="labels"><br>Scan QR</p>
          </a>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <br>
  <div class="card">
    <div class="uicardfact">
      <div class="content">
        <h4>
          Did you know?
        </h4>
        <p>
          {{v}}
        </p>
      </div>
    </div>
  </div>

</div>


<base href="/">